<table class="form-table">
	<tr>								
		<th>名称</th>
		<td>
			<input class="form-control" type="text" ng-model="data.name"   ab-validate="{requiredtrue,maxlength192}"  />
		</td>								
	</tr>
	<tr>								
		<th>编码</th>
		<td>
			<input class="form-control" id="alias" type="text" ng-model="data.alias"   ab-validate="{requiredtrue,maxlength192}" ab-pinyin="data.name" />
		</td>								
	</tr>
	<tr>								
		<th>状态</th>
		<td>
		<select class="form-control" ng-model="data.enabled" ab-validate="{requiredtrue}"  >
		  <option value="0">禁用</option>
		   <option value="1">正常</option>
		</select>
		</td>								
	</tr>
	<tr>								
		<th>描述</th>
		<td>
			<textarea class="form-control" id="description"   ng-model="data.description"></textarea>
		</td>								
	</tr>
</table>


<table class="form-table">
	<tr>								
		<th>名称</th>
		<td>
			<input class="form-control" type="text" ng-model="data.name"   ab-validate="{requiredtrue,maxlength192}"  />
		</td>								
	</tr>
</table>